div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */

}
body {
    background-color: black;
    background-image: url("../Images/BG(Dark-50).jpg");
}

.gif {
    position: fixed;
    left: 67px;
    border-radius: 15px;
    height: 50%;
    width: 30%;
}

.filmstrip {
    position: fixed;
    left: 10px;
    /*margin-top: -125px;*/
    height: 100%;
    width: 30%;
}

.btn-gold {
    color: #454545;
    background-color: #ffce00;
    border-color: #ffce00;
}

.btn-gold:focus, btn-gold.focus{
    color: #454545;
    background-color: #ffce00;
    border-color: #454545;
}

.btn-gold:hover{
    color: #454545;
    background-color: #d8a500;
    border-color: #d8a500;
}
/*.btn-gold:active, .btn-gold.active, open > .dropdown-toggle.btn-gold {*/
    /*color: #454545;*/
    /*background-color: #d8a500;*/
    /*border-color: #d8a500;*/
/*}*/


/*.btn-gold:active:hover, .btn-gold.active:hover, .open > .dropdown-toggle.btn-gold:hover, .btn-gold:active:focus, .btn-gold.active:focus, .open > .dropdown-toggle.btn-gold:focus, .btn-gold:active.focus, .btn-gold.active.focus, .open > .dropdown-toggle.btn-gold.focus {*/
    /*color: #454545;*/
    /*background-color: #d8a500;*/
    /*border-color: #d8a500;*/
/*}*/

/*.btn-gold:active, .btn-gold.active, .open > .dropdown-toggle.btn-gold {*/
    /*background-image: none*/
/*}*/

/*.btn-gold.disabled:hover, .btn-gold[disabled]:hover, fieldset[disabled] .btn-gold:hover, .btn-gold.disabled:focus, .btn-gold[disabled]:focus, fieldset[disabled] .btn-gold:focus, .btn-gold.disabled.focus, .btn-gold[disabled].focus, fieldset[disabled] .btn-gold.focus {*/
    /*background-color: #d8a500;*/
    /*border-color: #d8a500;*/
/*}*/

/*.btn-gold .badge {*/
    /*color: #375a7f;*/
    /*background-color: #000*/
/*}*/