.video-boxes{
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    padding: 1%;
    margin-right: 1%;
    margin-left : 1%;
    background-color: #ffffff;
    border: 2px solid black;
    height:80%;
    width: 80%;
}
.video-boxes:hover{
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

body {
    background-color: black;
    background-image: url("../Images/BG(Dark-50).jpg");
}

.description{
    text-align: center;
}

.player{
    width:784px;
    height:441px;
}
